openapi: 3.2.0
info:
  title: Management Bids API
  version: v1.0.0
  summary: API to fetch and upload bids processed through justtrack
  description: Manage your apps, campaigns, partners, and more.
servers:
- url: https://api.justtrack.io
security:
- ApiKeyAuth: []
tags:
- name: Bids
  description: Bidding operates as a distributed transaction.
paths:
  /management/v1/bids:
    post:
      summary: Fetch current bids with status
      description: 'This API provides with the bids within justtrack. In addition, it exposes the status of the latest operation associated with the bid.

        The following filter combinations are eligible:

        - networkId + campaignId

        - networkId + campaignId + countryCode

        - networkId + campaignId + countryCode + sourceId

        - networkId + adSetId

        - networkId + adSetId + countryCode

        - networkId + adSetId + countryCode + sourceId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBidsRequest'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBidsResponse'
        '400':
          description: Bad request input. Check the response for details.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Bids
      operationId: postManagementV1Bids
      x-operation-id-source: derived
  /management/v1/bids/upload:
    post:
      summary: Upload bids
      description: With this API you can upload a batch of bids, similar to the CSV upload. The same hierarchy, rules, and limitations apply.
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadBidsRequest'
      responses:
        '204':
          description: Bids are accepted and will be processed asynchronously
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                example: {}
        '400':
          description: Invalid bids provided. Check the response for details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadBidsInvalidBidResponse'
        '500':
          description: Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Bids
      operationId: postManagementV1BidsUpload
      x-operation-id-source: derived
components:
  schemas:
    CampaignId:
      type: string
      description: The identifier for the campaign that originated with the partner
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    Error:
      type: string
      minLength: 1
      description: description of the error
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    RequiredCampaignId:
      type: string
      description: The identifier for the campaign that originated with the partner
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    UploadBidsInvalidBidResponse:
      type: object
      required:
      - error
      - bidsValidation
      properties:
        error:
          $ref: '#/components/schemas/Error'
        bidsValidation:
          type: array
          items:
            $ref: '#/components/schemas/InvalidBidOutput'
          minItems: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
    InvalidBidOutput:
      type: object
      required:
      - campaignId
      - partnerId
      - partnerName
      - status
      - message
      properties:
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        partnerName:
          type: string
          description: the name given to this ad partner
          example: Ironsource
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        sourceId:
          $ref: '#/components/schemas/SourceId'
        status:
          type: string
          minLength: 1
          description: error status for the bid
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        message:
          type: string
          description: error message why the bid is invalid
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
    RequiredPartnerId:
      type: integer
      format: uint
      description: justtrack's internal ID for the partner
      minimum: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
      example: 1
    ListBidsRequest:
      type: object
      required:
      - page
      properties:
        page:
          $ref: '#/components/schemas/RequiredPage'
        filter:
          $ref: '#/components/schemas/ListBidsFilter'
    RequiredPage:
      type: object
      required:
      - offset
      - limit
      properties:
        offset:
          type: integer
          format: uint
          minimum: 0
          description: The number of resources to skip for this filter
          x-oapi-codegen-extra-tags:
            binding: gte=0
        limit:
          type: integer
          format: uint
          minimum: 0
          maximum: 1000
          description: The maximum number of resources in a page. If set to 0, we default to a limit of 100.
          x-oapi-codegen-extra-tags:
            binding: min=0,lte=1000
          example: 100
      x-oapi-codegen-extra-tags:
        binding: required
    ListBidsFilter:
      type: object
      required:
      - partnerId
      properties:
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sourceId:
          $ref: '#/components/schemas/SourceId'
        adSetId:
          $ref: '#/components/schemas/AdSetId'
      x-oapi-codegen-extra-tags:
        binding: omitempty
    AdSetId:
      type: string
      description: partner's ID for this adset
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    UploadBidsRequest:
      type: array
      items:
        $ref: '#/components/schemas/UploadBidInput'
      minItems: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1,dive
    BidOutput:
      type: object
      required:
      - partnerId
      - campaignId
      - status
      - value
      properties:
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        value:
          $ref: '#/components/schemas/Bid'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        sourceId:
          $ref: '#/components/schemas/SourceId'
        status:
          type: string
          description: current status of the latest bid operation
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
    CountryCode:
      type: string
      minLength: 2
      maxLength: 2
      x-oapi-codegen-extra-tags:
        binding: omitempty,iso3166_1_alpha2
      description: ISO 3166-1 alpha-2 of your country, e.g. 'US'
      example: US
    SourceId:
      type: string
      description: identifier provided by the ad network to target specific source app
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
        mold: trim
    ErrorResponse:
      type: object
      required:
      - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
    UploadBidInput:
      type: object
      required:
      - campaignId
      - delete
      - optimalBidUsd
      - partnerId
      properties:
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        delete:
          type: boolean
          description: true, if you want to delete the bid. Defaults to false
        optimalBidUsd:
          $ref: '#/components/schemas/Bid'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        sourceId:
          $ref: '#/components/schemas/SourceId'
    Bid:
      type: number
      format: double
      minimum: 0
      description: bid value in USD
      x-oapi-codegen-extra-tags:
        binding: min=0
    ListBidsResponse:
      type: object
      required:
      - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/BidOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
