openapi: '3.1.0'
info:
  title: 'Management API'
  version: 'v1.0.0'
  summary: API to fetch and upload bids processed through justtrack
  description: Manage your apps, campaigns, partners, and more.

servers:
  - url: https://api.justtrack.io

tags:
  - name: Bids
    description: |-
      Bidding operates as a distributed transaction. The sequential flow is as follows:
        1. you upload a bid
        2. we store it in justtrack -> status: pending
        3. we try to apply it on partner side <br/>
          a. if successful -> status: success <br/>
          b. if error: we rollback the change by fetching the current value from partner -> status: rollback-error <br/>
            b.1. rollback succeeded -> status: rollback-error <br/>
            b.2. rollback-failed -> status: error <br/>
        4. We update the bid based on the returning status. In the case of newly creation bids, this includes deleting them to ensure a consistent state between justtrack and the partner.

      This process can take up to 30 minutes for rollbacks. Only then you will see a stable status.

      **NOTE:** We gather bids and apply them on the partner side in batches. This increases throughput and overall speed in which changes are applied. As a downside, if one bid in one batch fails, mostly the entire batch is rejected and enters the rollback process.
  - name: App Partner Connection
    description: |-
      With the App Partner Connection API, you can:

      - View details about an app partner connection
      - Create a partner connection for an app (This is the API equivalent of connecting a partner in the dashboard)
      - Update details about an app partner connection

      :::info

      Without an app partner connection, justtrack can't operate for most of its features, including campaign creation, tracking, and more.

      :::
  - name: Apps
    description: |-
      With the App API, you can:

      - View your list of apps
      - Create an app
  - name: Campaigns
  - name: Partner Configurations
    description: |-
      In justtrack, you integrate your app with the advertising partners that run your campaigns. Depending on the integrated partner, we exchange data for at least one of the following features:

      * `attribution`: Attribution tracking
      * `campaign`: Bid and campaign automation
      * `skad-import`: SKAd imports or tracking event-based SKAd data
      * `spend-import`: Spend imports or tracking event-based spend data
      * `tracking`: Tracking parameter macros (custom partners only)
      * `postback`: Send data to the partner via postbacks

      In order to properly exchange data with the partner, you need to configure specific partner settings. With this API, you can do this programmatically. More specifically, you can:

      - View all configurations we require to integrate a partner feature
      - Configure features for an app-partner combination
      - View all configured values for a given feature for an app-partner combination

      Because you configure features for every app-partner combination, if you want to configure features for multiple apps, you must call this endpoint for each app. For every feature, you must also configure all configurable settings.
  - name: Partners

paths:
  /management/v1/bids:
    post:
      summary: 'Fetch current bids with status'
      description: |-
        This API provides with the bids within justtrack. In addition, it exposes the status of the latest operation associated with the bid.
        The following filter combinations are eligible:
         - networkId + campaignId
         - networkId + campaignId + countryCode
         - networkId + campaignId + countryCode + sourceId
         - networkId + adSetId
         - networkId + adSetId + countryCode
         - networkId + adSetId + countryCode + sourceId
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListBidsRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBidsResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Bids
  /management/v1/bids/upload:
    post:
      summary: 'Upload bids'
      description: 'With this API you can upload a batch of bids, similar to the CSV upload. The same hierarchy, rules, and limitations apply.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UploadBidsRequest'
      responses:
        '204':
          description: 'Bids are accepted and will be processed asynchronously'
          content:
            application/json:
              schema:
                type: object
                additionalProperties: false
                example: {}
        '400':
          description: 'Invalid bids provided. Check the response for details'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UploadBidsInvalidBidResponse'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Bids
  /management/v1/app/{appId}/connection/{partnerId}:
    get:
      summary: 'Get app partner connection'
      description: 'Get data for existing app partner connection.'
      parameters:
        - name: appId
          in: path
          required: true
          description: "justtrack's identifier for the app"
          schema:
            type: integer
            format: uint
        - name: partnerId
          in: path
          required: true
          description: "justtrack's identifier for the advertising partner"
          schema:
            type: integer
            format: uint
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPartnerConnection'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '404':
          description: 'Not found'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - App Partner Connection
    put:
      summary: 'Connect partner'
      description: 'Connect your app to a partner. If this app-partner connection already exists, update the connection details.'
      parameters:
        - name: appId
          in: path
          required: true
          description: "justtrack's identifier for the app"
          schema:
            type: integer
            format: uint
        - name: partnerId
          in: path
          required: true
          description: "justtrack's identifier for the advertising partner"
          schema:
            type: integer
            format: uint
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppPartnerConnection'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppPartnerConnection'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - App Partner Connection
  /management/v1/apps:
    post:
      summary: 'List apps'
      description: "Get a paginated list of your organization's apps."
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListAppsRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAppsResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Apps
  /management/v1/app:
    post:
      summary: 'Create app'
      description: |-
        Create an app.

        :::info

        We validate the following constraints when creating an app:

        - The bundle ID must be unique to your organization, though multiple apps within your organization can have the same bundle ID if the platform is different.
        - A (bundle ID, platform) pair must be unique within your organization.
        - A (name, platform) pair must be unique within your organization.
        - The store ID must be unique across all organizations.

        :::
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAppRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppOutput'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Apps
  /management/v1/campaigns:
    post:
      summary: 'List campaigns'
      description: 'Get a paginated list of campaigns for your organization.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListCampaignsRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignOutput'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Campaigns
  /management/v1/campaign:
    post:
      summary: 'Create campaign'
      description: 'Typically, we automatically track campaigns in justtrack when we receive the first click or impression. However, you can also use this API to create a campaign manually.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateCampaignRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CampaignOutput'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Campaigns
  /management/v1/partner-configuration/{feature}:
    post:
      summary: 'List configured features'
      description: 'Get a paginated list of configured features for a given app and partner.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPartnerConfigurationFeaturesRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnerConfigurationFeaturesResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Partner Configurations
    put:
      summary: 'Configure partner'
      description: |-
        Configure a feature for a given app and partner.

        :::warning

        You must provide values for all keys listed by [List partner configurations](/api/management/list-configurations).

        :::

        :::info

        For attribution viewEventTimeFrame and clickEventTimeFrame, use [ISO8601 duration-only ](https://en.m.wikipedia.org/wiki/ISO_8601#Time_intervals)format, i.e. `P1DT0H0M`

        :::
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpsertPartnerConfigurationFeaturesRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UpsertPartnerConfigurationFeaturesResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '403':
          description: 'Forbidden'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Partner Configurations
  /management/v1/partner-configurations:
    post:
      summary: 'List configurations'
      description: |-
        Get a paginated list of keys used to configure features for the partners that are available to your organization. You configure the values for each of these keys with the [Update configurations API](/api/management/configure-partner).

        :::warning

        When you configure a partner feature, you must provide values for all keys associated with that feature from this API. Without them, justtrack wouldn't be able to successfully operate or integrate with the partner.

        :::

        A configuration key may appear for multiple features. **You must provide a value for each feature.**
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPartnerConfigurationsRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnerConfigurationsResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Partner Configurations
  /management/v1/partners:
    post:
      summary: 'List partners'
      description: 'Get a paginated list of partners available to your organization.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListPartnersRequest'
      responses:
        '200':
          description: 'OK'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPartnersResponse'
        '400':
          description: 'Bad request input. Check the response for details.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '401':
          description: 'Unauthorized'
        '500':
          description: 'Internal server error. Please try again, or contact us at support@justtrack.io if the error persists.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
        - Partners

security:
  - ApiKeyAuth: []

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key

  schemas:
    ### all basic types ###
    AdSetId:
      type: string
      description: partner's ID for this adset
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    RequiredAppId:
      type: integer
      format: uint
      description: justtrack's internal ID for the app
      minimum: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
      example: 1
    RequiredAppName:
      type: string
      description: the name given to this app
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    Bid:
      type: number
      format: double
      minimum: 0
      description: bid value in USD
      x-oapi-codegen-extra-tags:
        binding: min=0
    RequiredBundleId:
      type: string
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    CampaignId:
      type: string
      description: The identifier for the campaign that originated with the partner
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    RequiredCampaignId:
      type: string
      description: The identifier for the campaign that originated with the partner
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    RequiredCampaignName:
      type: string
      description: the name given to this campaign
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    RequiredCampaignType:
      type: string
      enum:
        - acquisition
        - retargeting
        - ctv
      x-oapi-codegen-extra-tags:
        binding: required,oneof=acquisition retargeting ctv
      description: The type of campaign you're running. Retargeting campaigns require special set up on partner side to target only existing users.
      example: acquisition
    CountryCode:
      type: string
      minLength: 2
      maxLength: 2
      x-oapi-codegen-extra-tags:
        binding: omitempty,iso3166_1_alpha2
      description: ISO 3166-1 alpha-2 of your country, e.g. 'US'
      example: US
    RequiredDateTime:
      type: string
      format: date-time
      x-oapi-codegen-extra-tags:
        binding: required,datetime=2006-01-02T15:16:17Z
    Error:
      type: string
      minLength: 1
      description: description of the error
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    Feature:
      type: string
      enum:
        - attribution
        - campaign
        - creative
        - spend-import
        - skad-import
        - postback
      x-oapi-codegen-extra-tags:
        binding: omitempty,oneof=attribution campaign creative spend-import skad-import postback
    RequiredFeature:
      type: string
      enum:
        - attribution
        - campaign
        - creative
        - spend-import
        - skad-import
        - postback
      x-oapi-codegen-extra-tags:
        binding: required,oneof=attribution campaign creative spend-import skad-import postback
    GoalName:
      type: string
      example: install
      minLength: 1
      description: the name of your app goal in justtrack
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    OptimizationType:
      type: string
      example: cpi
      minLength: 1
      description: towards what the partner is optimizing this campaign
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    RequiredOptimizationType:
      type: string
      example: cpi
      minLength: 1
      description: towards what the partner is optimizing this campaign
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    RequiredPage:
      type: object
      required:
        - offset
        - limit
      properties:
        offset:
          type: integer
          format: uint
          minimum: 0
          description: The number of resources to skip for this filter
          x-oapi-codegen-extra-tags:
            binding: gte=0
        limit:
          type: integer
          format: uint
          minimum: 0
          maximum: 1000
          description: The maximum number of resources in a page. If set to 0, we default to a limit of 100.
          x-oapi-codegen-extra-tags:
            binding: min=0,lte=1000
          example: 100
      x-oapi-codegen-extra-tags:
        binding: required
    PartnerConfigurationFeature:
      type: object
      required:
        - key
        - value
      properties:
        key:
          $ref: '#/components/schemas/PartnerConfigurationFeatureKey'
        value:
          $ref: '#/components/schemas/PartnerConfigurationFeatureValue'
    PartnerConfigurationFeatureKey:
      type: string
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    PartnerConfigurationFeatureValue:
      type: string
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    PartnerId:
      type: integer
      format: uint
      description: justtrack's internal ID for the partner
      minimum: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
      example: 1
    RequiredPartnerId:
      type: integer
      format: uint
      description: justtrack's internal ID for the partner
      minimum: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
      example: 1
    RequiredPlatform:
      type: string
      description: identifier of the platform
      enum:
        - android
        - ios
      x-oapi-codegen-extra-tags:
        binding: required,oneof=android ios
      example: android
    PromoCode:
      type: string
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
    RequiredStoreId:
      type: string
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1
    SourceId:
      type: string
      description: identifier provided by the ad network to target specific source app
      minLength: 1
      x-oapi-codegen-extra-tags:
        binding: omitempty,min=1
        mold: trim
    ### all composite input types ###
    ListBidsFilter:
      type: object
      required:
        - partnerId
      properties:
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        sourceId:
          $ref: '#/components/schemas/SourceId'
        adSetId:
          $ref: '#/components/schemas/AdSetId'
      x-oapi-codegen-extra-tags:
        binding: omitempty
    ListCampaignsFilter:
      type: object
      properties:
        campaignId:
          $ref: '#/components/schemas/CampaignId'
        partnerId:
          $ref: '#/components/schemas/PartnerId'
      x-oapi-codegen-extra-tags:
        binding: omitempty
    ListPartnerConfigurationFeaturesFilter:
      type: object
      required:
        - appId
        - partnerId
      properties:
        appId:
          $ref: '#/components/schemas/RequiredAppId'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
    ListPartnerConfigurationsFilter:
      type: object
      properties:
        partnerId:
          $ref: '#/components/schemas/PartnerId'
        feature:
          $ref: '#/components/schemas/Feature'
      x-oapi-codegen-extra-tags:
        binding: omitempty
    ListPartnersFilter:
      type: object
      properties:
        name:
          type: string
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: omitempty,min=1
      x-oapi-codegen-extra-tags:
        binding: omitempty
    UploadBidInput:
      type: object
      required:
        - campaignId
        - delete
        - optimalBidUsd
        - partnerId
      properties:
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        delete:
          type: boolean
          description: true, if you want to delete the bid. Defaults to false
        optimalBidUsd:
          $ref: '#/components/schemas/Bid'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        sourceId:
          $ref: '#/components/schemas/SourceId'
    ### all composite output types ###
    AppOutput:
      type: object
      required:
        - createdAt
        - bundleId
        - id
        - name
        - platform
        - storeId
        - updatedAt
      properties:
        createdAt:
          $ref: '#/components/schemas/RequiredDateTime'
        bundleId:
          $ref: '#/components/schemas/RequiredBundleId'
        id:
          $ref: '#/components/schemas/RequiredAppId'
        name:
          $ref: '#/components/schemas/RequiredAppName'
        platform:
          $ref: '#/components/schemas/RequiredPlatform'
        storeId:
          $ref: '#/components/schemas/RequiredStoreId'
        updatedAt:
          $ref: '#/components/schemas/RequiredDateTime'
    AppPartnerConnection:
      type: object
      required:
        - campaignTypes
        - defaultChannelId
        - multiCountryCampaignAllowed
        - trackingUrlSlug
      properties:
        campaignTypes:
          type: array
          items:
            $ref: '#/components/schemas/RequiredCampaignType'
          minItems: 1
          description: List of campaign types this partner can run.
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
        defaultChannelId:
          type: integer
          format: uint
          minimum: 1
          description: justtrack internal ID for the channel used by default to create campaigns
          example: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        multiCountryCampaignAllowed:
          type: boolean
          description: if you want to allow creation of campaigns with multiple countries for this partner
        trackingUrlSlug:
          type: string
          minLength: 1
          description: a unique string to identify this partner among others on tracking urls
          x-oapi-codegen-extra-tags:
            binding: required,min=1
    BidOutput:
      type: object
      required:
        - partnerId
        - campaignId
        - status
        - value
      properties:
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        value:
          $ref: '#/components/schemas/Bid'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        sourceId:
          $ref: '#/components/schemas/SourceId'
        status:
          type: string
          description: current status of the latest bid operation
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
    CampaignOutput:
      type: object
      required:
        - appId
        - countryCodes
        - createdAt
        - name
        - partnerId
        - platform
        - type
        - updatedAt
      properties:
        appId:
          $ref: '#/components/schemas/RequiredAppId'
        countryCodes:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
        createdAt:
          $ref: '#/components/schemas/RequiredDateTime'
        goalName:
          $ref: '#/components/schemas/GoalName'
        id:
          $ref: '#/components/schemas/CampaignId'
        name:
          type: string
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        optimizationType:
          $ref: '#/components/schemas/OptimizationType'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        platform:
          $ref: '#/components/schemas/RequiredPlatform'
        promoCode:
          $ref: '#/components/schemas/PromoCode'
        type:
          $ref: '#/components/schemas/RequiredCampaignType'
        updatedAt:
          $ref: '#/components/schemas/RequiredDateTime'
    InvalidBidOutput:
      type: object
      required:
        - campaignId
        - partnerId
        - partnerName
        - status
        - message
      properties:
        adSetId:
          $ref: '#/components/schemas/AdSetId'
        campaignId:
          $ref: '#/components/schemas/RequiredCampaignId'
        countryCode:
          $ref: '#/components/schemas/CountryCode'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        partnerName:
          type: string
          description: the name given to this ad partner
          example: Ironsource
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        sourceId:
          $ref: '#/components/schemas/SourceId'
        status:
          type: string
          minLength: 1
          description: error status for the bid
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        message:
          type: string
          description: error message why the bid is invalid
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
    PartnerOutput:
      type: object
      required:
        - id
        - name
        - createdAt
        - updatedAt
      properties:
        id:
          type: integer
          format: uint
          minimum: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        name:
          type: string
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        createdAt:
          $ref: '#/components/schemas/RequiredDateTime'
        updatedAt:
          $ref: '#/components/schemas/RequiredDateTime'
    PartnerConfigurationOutput:
      type: object
      required:
        - features
        - key
        - partnerId
      properties:
        features:
          type: array
          items:
            $ref: '#/components/schemas/RequiredFeature'
        key:
          $ref: '#/components/schemas/PartnerConfigurationFeatureKey'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
    PartnerConfigurationFeatureOutput:
      type: object
      required:
        - appId
        - partnerId
        - key
        - value
      properties:
        appId:
          $ref: '#/components/schemas/RequiredAppId'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        key:
          $ref: '#/components/schemas/PartnerConfigurationFeatureKey'
        value:
          $ref: '#/components/schemas/PartnerConfigurationFeatureValue'
    ### all request and response types ###
    CreateAppRequest:
      type: object
      required:
        - bundleId
        - iconUrl
        - name
        - platform
        - storeId
      properties:
        bundleId:
          $ref: '#/components/schemas/RequiredBundleId'
        iconUrl:
          type: string
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        name:
          $ref: '#/components/schemas/RequiredAppName'
        platform:
          $ref: '#/components/schemas/RequiredPlatform'
        storeId:
          $ref: '#/components/schemas/RequiredStoreId'
    CreateAppResponse:
      allOf:
        - $ref: '#/components/schemas/AppOutput'
        - type: object
          required:
            - apiToken
          properties:
            apiToken:
              type: string
              minLength: 1
              x-oapi-codegen-extra-tags:
                binding: required,min=1
    CreateCampaignRequest:
      type: object
      required:
        - appId
        - countryCodes
        - id
        - optimizationType
        - name
        - partnerId
        - type
      properties:
        appId:
          $ref: '#/components/schemas/RequiredAppId'
        countryCodes:
          type: array
          items:
            $ref: '#/components/schemas/CountryCode'
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
        goalName:
          $ref: '#/components/schemas/GoalName'
        id:
          $ref: '#/components/schemas/RequiredCampaignId'
        name:
          type: string
          minLength: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1
        optimizationType:
          $ref: '#/components/schemas/RequiredOptimizationType'
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
        promoCode:
          $ref: '#/components/schemas/PromoCode'
        type:
          $ref: '#/components/schemas/RequiredCampaignType'
    CreateCampaignResponse:
      allOf:
        - $ref: '#/components/schemas/CampaignOutput'
    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          $ref: '#/components/schemas/Error'
    GetAppPartnerConnectionResponse:
      allOf:
        - $ref: '#/components/schemas/AppPartnerConnection'
    ListAppsRequest:
      type: object
      required:
        - page
      properties:
        page:
          $ref: '#/components/schemas/RequiredPage'
    ListAppsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/AppOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    ListBidsRequest:
      type: object
      required:
        - page
      properties:
        page:
          $ref: '#/components/schemas/RequiredPage'
        filter:
          $ref: '#/components/schemas/ListBidsFilter'
    ListBidsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/BidOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    ListCampaignsRequest:
      type: object
      required:
        - page
      properties:
        page:
          $ref: '#/components/schemas/RequiredPage'
        filter:
          $ref: '#/components/schemas/ListCampaignsFilter'
    ListCampaignsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/CampaignOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    ListPartnerConfigurationsRequest:
      type: object
      required:
        - page
      properties:
        filter:
          $ref: '#/components/schemas/ListPartnerConfigurationsFilter'
        page:
          $ref: '#/components/schemas/RequiredPage'
    ListPartnerConfigurationsResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PartnerConfigurationOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    ListPartnerConfigurationFeaturesRequest:
      type: object
      required:
        - page
        - filter
      properties:
        filter:
          $ref: '#/components/schemas/ListPartnerConfigurationFeaturesFilter'
        page:
          $ref: '#/components/schemas/RequiredPage'
    ListPartnerConfigurationFeaturesResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PartnerConfigurationFeatureOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    ListPartnersRequest:
      type: object
      required:
        - page
      properties:
        page:
          $ref: '#/components/schemas/RequiredPage'
        filter:
          $ref: '#/components/schemas/ListPartnersFilter'
    ListPartnersResponse:
      type: object
      required:
        - results
      properties:
        results:
          type: array
          items:
            $ref: '#/components/schemas/PartnerOutput'
          x-oapi-codegen-extra-tags:
            binding: required,dive
    UpsertAppPartnerConnectionRequest:
      allOf:
        - $ref: '#/components/schemas/AppPartnerConnection'
    UpsertAppPartnerConnectionResponse:
      allOf:
        - $ref: '#/components/schemas/AppPartnerConnection'
    UpsertPartnerConfigurationFeaturesRequest:
      type: object
      required:
        - appId
        - configurations
        - partnerId
      properties:
        appId:
          $ref: '#/components/schemas/RequiredAppId'
        configurations:
          type: array
          items:
            $ref: '#/components/schemas/PartnerConfigurationFeature'
          minItems: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
        partnerId:
          $ref: '#/components/schemas/RequiredPartnerId'
    UpsertPartnerConfigurationFeaturesResponse:
      type: array
      items:
        $ref: '#/components/schemas/PartnerConfigurationFeatureOutput'
      minItems: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1,dive
    UploadBidsRequest:
      type: array
      items:
        $ref: '#/components/schemas/UploadBidInput'
      minItems: 1
      x-oapi-codegen-extra-tags:
        binding: required,min=1,dive
    UploadBidsInvalidBidResponse:
      type: object
      required:
        - error
        - bidsValidation
      properties:
        error:
          $ref: '#/components/schemas/Error'
        bidsValidation:
          type: array
          items:
            $ref: '#/components/schemas/InvalidBidOutput'
          minItems: 1
          x-oapi-codegen-extra-tags:
            binding: required,min=1,dive
